/*
    This file should be structured similiar to the html elements.
    Meaning:    -Styles for elements at the top of the page, have their styles at the top of this file
                -Styles for elements at the middle/body of the page, have their styles in the middle of this file
                -Styles for elements at the bottom of the page, have their style at the bottom of this file
                -Exception: Reusable class-styles should be at the very bottom
*/

html {
    background-image: url('https://borderlands.com/images/_generated/1x/images/news/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #404040;
    font-family: Helvetica;
}

/* Headers & Footers */

.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;
    padding: 10px 0;
    color: #fff;
}

.fixed-header {
    top: 0;
}

.fixed-footer {
    bottom: 0;
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgba(20, 20, 20, 0.75);
    border-radius: 12px;
    margin-bottom: 0.5%;
    height: 3vh;
    color: white;
    width: 98.3%;
    margin-left: 0.8%;
    font-family: 'Montserrat', sans-serif;
}

/* Style the buttons inside the tab */

.tab button {
    background-color: rgba(20, 20, 20, 0.75);
    float: left;
    outline: none;
    cursor: pointer;
    padding: 4.5px 10px;
    transition: 0.3s;
    font-size: 17px;
    color: inherit;
    border-left: none;
    border-right-color: black;
    border-right-width: 3px;
    border-top: 50px;
}

.last {
    float: right !important;
    border-right: none;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: rgba(255, 99, 71, 0.65);
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: rgba(255, 165, 0, 0.9265);
}

/* Style the tab content */

.tabcontent {
    display: table-row;
    padding-top: 6%;
    padding-bottom: 4%;
}

body {
    color: white;
    overflow: visible;
}

.bodyContent {
    position: relative;
    height: 67vh;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.left {
    width: 49%;
    background-color: rgba(20, 20, 20, 0.75);
    border-radius: 12px;
    height: 100%;
    position: relative;
}

#versionHeader {
    vertical-align: bottom;
    color: lawngreen;
    margin: inherit;
    font-weight: bold !important;
    float: inherit;
}

#presetContainer {
    position: absolute;
    border-radius: 5px;
    border-width: thick;
    margin-top: 1vh;
    margin-left: 2vw;
    max-height: 2vh;
    height: 2vh;
    display: contents;
}

#presetSelection {
    min-width: 10vw;
    width: 10vw;
    z-index: 2;
}

#hotfixSelection {
    background-color: rgba(64, 64, 64, 0.75);
    color: white;
    width: 96.5%;
    height: 60vh;
    border-radius: 12px;
    margin-left: 1%;
    position: relative;
    overflow: scroll;
    border-color: transparent;
    z-index: 1;
}

#mailItemSelection {
    background-color: rgba(64, 64, 64, 0.75);
    color: white;
    width: 50.5%;
    height: 20vh;
    border-radius: 12px;
    margin-left: 1%;
    position: relative;
    overflow: scroll;
    border-color: transparent;
}

#serialNumberInputLabel {
    margin: inherit;
}

.left strong {
    margin-left: 10px !important;
}

.right strong {
    margin-left: 10px !important;
}

.right {
    width: 49%;
    background-color: rgba(20, 20, 20, 0.75);
    border-radius: 12px;
}

#parameters {
    background-color: rgba(64, 64, 64, 0.75);
    width: 47.5%;
    height: 90%;
    overflow-y: scroll;
    border-radius: 12px;
    overflow-x: auto;
    margin-left: 1%;
    position: absolute;
}

#deleteHotfixURLButton {
    background-color: red !important;
    border-color: transparent;
}

#hotfixButtonLayout {
    position: relative;
    padding-bottom: 0.5%;
}

#hotfixButtonLayout input[type="button"] {
    background-color: goldenrod;
    position: relative;
    margin-left: 2ex;
    margin-top: 1ex;
    border-color: transparent;
    border-radius: 12px;
}

#moveURLUpButton {
    background-color: greenyellow !important;
    border-radius: 12px;
    border-color: transparent;
}

#moveURLDownButton {
    background-color: greenyellow !important;
    border-radius: 12px;
    border-color: transparent;
}

#refreshHotfixURLButton {
    background-color: greenyellow !important;
    border-radius: 12px;
    right: 10px;
    position: absolute !important;
    border-color: transparent;
}

#footer {
    width: 98%;
    max-height: 22%;
    bottom: 0px;
    margin-left: 0.75%;
}

#proxySettings {
    display: flex;
}

#serialNumberInput {
    min-width: 20vw;
    width: 30vw;
}

#btnAddSerialNumber {
    background-color: greenyellow;
    border-radius: 12px;
    width: 95px;
    border-color: transparent;
}

#btnRemoveSerialNumber {
    background-color: red !important;
    border-radius: 12px;
    width: 95px;
    border-color: transparent;
}

#clearButton {
    background-color: greenyellow;
    border-radius: 12px;
    width: 95px;
    border-color: transparent;
}

#log {
    background: rgba(20, 20, 20, 0.9);
    max-width: 99.5%;
    border-radius: 5px;
    height: 140px;
    overflow-y: scroll;
    margin: 0;
    font-family: sans-serif
}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.about h3 {
    margin-left: 1vw;
}

.about p {
    color: lawngreen;
    margin-left: 1vw;
}

.settings {
    background-color: rgba(20, 20, 20, 0.75);
    display: block !important;
    width: 98.4%;
    height: 67vh;
    margin-left: 0.7%;
    border-radius: 12px;
}

.settings strong {
    position: absolute;
    left: 1vw;
    top: 1vh
}

.setting {
    position: absolute;
    left: 1vw;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: orangered;
}

input:focus+.slider {
    box-shadow: 0 0 1px orangered;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Filter-Dropdown */

#presetsLabel {
    position: absolute;
    margin-left: 0.8vw;
    top: -5vh;
}

.dropbtn {
    position: absolute;
    background-color: white;
    color: black;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 2.5vh;
    width: 14vw;
    max-width: 14vw;
    top: -3vh;
    margin-left: 0.8vw;
    border-radius: 12px;
}

/* .dropbtn:hover, .dropbtn:focus {
    background-color: orange;
} */

#myInput {
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-size: 16px;
    /* padding: 10px 20px 12px 45px; */
    border: none;
    border-bottom: 1px solid #ddd;
    width: 14vw;
    position: sticky;
    top: -10px;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0.8vw;
    background-color: #f6f6f6;
    /* min-width: 230px; */
    overflow-x: auto;
    overflow-y: scroll;
    /* border: 1px solid #ddd; */
    max-width: 28vw;
    z-index: 2;
}

.dropdown-content label {
    color: black;
    /* padding: 12px 16px; */
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown label:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Special adjustments for MS Edge */

@supports (-ms-ime-align:auto) {
    .content {
        margin-left: 0.7vw;
    }
    .right {
        margin-left: 1.1vw;
    }
    .dropbtn {
        top: -4vh;
        margin-left: -1.2vw;
    }
    .dropdown-content {
        left: -1.2vw;
    }
}

/* Filter-Dropdown END*/