/*
    This file should be structured similiar to the html elements.
    Meaning:    -Styles for elements at the top of the page, have their styles at the top of this file
                -Styles for elements at the middle/body of the page, have their styles in the middle of this file
                -Styles for elements at the bottom of the page, have their style at the bottom of this file
                -Exception: Reusable class-styles should be at the very bottom
*/

html {
    background-image: url('https://borderlands.com/images/_generated/1x/images/news/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #404040;
    font-family: Helvetica;
}

/* Headers & Footers */

.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;
    padding: 10px 0;
    color: #fff;
}

.fixed-header {
    top: 0;
}

.fixed-footer {
    bottom: 0;
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgba(20, 20, 20, 0.75);
    border-radius: 12px;
    margin-bottom: 0.5%;
    height: 3vh;
    color: white;
    width: 98.3%;
    margin-left: 0.8%;
    font-family: 'Montserrat', sans-serif;
}

/* Style the buttons inside the tab */

.tab button {
    background-color: rgba(20, 20, 20, 0.75);
    float: left;
    outline: none;
    cursor: pointer;
    padding: 4.5px 10px;
    transition: 0.3s;
    font-size: 17px;
    color: inherit;
    border-left: none;
    border-right-color: black;
    border-right-width: 3px;
    border-top: 50px;
}

.last {
    float: right !important;
    border-right: none;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: rgba(255, 99, 71, 0.65);
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: rgba(255, 165, 0, 0.9265);
}

/* Style the tab content */

.tabcontent {
    display: table-row;
    padding-top: 6%;
    padding-bottom: 4%;
}

body {
    color: white;
}

.bodyContent {
    position: relative;
    height: 67vh;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.left {
    width: 49%;
    background-color: rgba(20, 20, 20, 0.75);
    border-radius: 12px;
    height: 100%;
    position: relative;
}

#hotfixSelection {
    background-color: rgba(64, 64, 64, 0.75);
    color: white;
    width: 96.5%;
    height: 60vh;
    border-radius: 12px;
    margin-left: 1%;
    position: relative;
    overflow: scroll;
    border-color: transparent;
}

.left strong {
    margin-left: 10px !important;
}

.right strong {
    margin-left: 10px !important;
}

.right {
    width: 49%;
    background-color: rgba(20, 20, 20, 0.75);
    border-radius: 12px;
}

#parameters {
    background-color: rgba(64, 64, 64, 0.75);
    width: 47.5%;
    height: 90%;
    overflow-y: scroll;
    border-radius: 12px;
    overflow-x: auto;
    margin-left: 1%;
    position: absolute;
}

#deleteHotfixURLButton {
    background-color: red !important;
    border-color: transparent;
}

#hotfixButtonLayout {
    position: relative;
    padding-bottom: 0.5%;
}

#hotfixButtonLayout input[type="button"] {
    background-color: goldenrod;
    position: relative;
    margin-left: 2ex;
    margin-top: 1ex;
    border-color: transparent;
    border-radius: 12px;
}

#moveURLUpButton {
    background-color: greenyellow !important;
    border-radius: 12px;
    border-color: transparent;
}

#moveURLDownButton {
    background-color: greenyellow !important;
    border-radius: 12px;
    border-color: transparent;
}

#refreshHotfixURLButton {
    background-color: greenyellow !important;
    border-radius: 12px;
    right: 10px;
    position: absolute !important;
    border-color: transparent;
}

#footer {
    width: 99%;
    max-height: 22%;
    bottom: 0px;
    margin-left: 0.75%;
}

#proxySettings {
    display: flex;
}

#clearButton {
    background-color: greenyellow;
    border-radius: 12px;
    width: 95px;
    border-color: transparent;
}

#log {
    background: rgba(20, 20, 20, 0.9);
    max-width: 99.5%;
    border-radius: 5px;
    height: 140px;
    overflow-y: scroll;
    margin: 0;
    font-family: sans-serif
}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.settings {
    background-color: rgba(20, 20, 20, 0.75);
    display: block !important;
    width: 98.4%;
    height: 67vh;
    margin-left: 0.7%;
    border-radius: 12px;
}

.settings strong {
    position: absolute;
    left: 1vw;
    top: 1vh
}

.setting {
    position: absolute;
    left: 1vw;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: orangered;
}

input:focus+.slider {
    box-shadow: 0 0 1px orangered;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}