.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
}

.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}

.article-clean .intro h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  margin-top: 20px;
}

.article-clean .intro p {
  color: #929292;
  font-size: 12px;
}

.article-clean .intro p .by {
  font-style: italic;
}

.article-clean .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

.article-clean .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px;
}

.article-clean .intro img {
  margin-top: 20px;
}

.article-clean .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

@media (min-width:768px) {
  .article-clean .text p {
    font-size: 16px;
  }
}

.article-clean .text h2 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

@media (min-width:768px) {
  .article-clean .text h2 {
    font-size: 20px;
  }
}

.article-clean .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.article-clean .text figure img {
  margin-bottom: 12px;
  max-width: 100%;
}

@media (min-width: 1400px) {
  #sidebar {
    margin-left: 0px;
    margin-right: 0px;
    max-width: None;
  }
}

.hotfixItem {
  margin-top: 0.5vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.hotfixItem.active {
  background: var(--bs-blue);
}

.hotfixItem:hover {
  background: #ababab;
}

ul > li > a.active {
  background-color: rgba(64,64,64,0.75) !important;
}

ul > li > a:hover {
  cursor: pointer;
}

#hotfixSelection > li:hover {
  cursor: pointer;
}

#parameters > pre {
  display: inherit;
  overflow: scroll;
  height: 100%;
}

#parameters > pre {
  max-height: 38rem;
}

#parameters {
  max-height: 38rem;
}

.btn-primary:active {
  /*background: green !important;*/
}

.hotfixRow > td {
  color: rgb(255,255,255);
  padding-top: 16px;
  padding-bottom: 0px;
  margin: 0px;
  max-width: 5rem;
  word-break: break-word;
}

.hotfixRow > td > button {
  background: rgba(78,115,223,0);
  color: rgb(255,255,255);
}

tbody > tr > td.toggledoff {
  color: #56585b;
}

#presetCollection {
  color: #232323;
  width: 20rem;
  max-width: 20rem;
}

